ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMjM4OTJjYmUzNTMxYjVhMTZiNDZlNDFhYmJiZjg0YyIsIm5iZiI6MTc0NTU2MjA2MC44ODIsInN1YiI6IjY4MGIyOWNjOGJjZWE2NmE4NmFhY2Y1ZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.hD4awENQYBPtEMs_tQGPgTnfCMoW_hS8quksaeAwTls
PROTOCOL=https:/
BASE_API_URL=$(PROTOCOL)/api.themoviedb.org/3
MOVIE_NOW_PLAYING_PATH=/movie/now_playing
MOVIE_POPULAR_PATH=/movie/popular
MOVIE_DETAIL_PATH=/movie/{movie_id}
MOVIE_CREDIT_PATH=/movie/{movie_id}/credits
IMAGE_BASE_URL=$(PROTOCOL)/image.tmdb.org/t/p/
